@media print{
    .ant-layout-sider-children {
        display: none;
    }
    .ant-card{
        display: none;
    }
    .osw-navbar{
        display: none;
    }
    .toprint{
        display: block;        
        min-width: 600px;
        padding: 0;
        margin:0;
        
    }
   #print{
    display: block;
    width: 100%;
   }
}